[conf]
username =
password =
user_public_key =
fogbow_ip =
as_port =
ras_port =
ras_port_2 =
fhs_port =
test_utils_port =
provider =
network_name =
network_cidr =
network_gateway =
network_allocation_mode =
compute_name =
compute_vcpu =
compute_ram =
compute_disk =
compute_public_key =
compute_user_data_file_content =
compute_user_data_file_type =
compute_user_data_tag =
test_classes =
operator_name_1 =
operator_name_2 =
as_build_path =
ras_build_path =
ms_build_path =
fhs_project_path =
ras_project_path =
fhs_name_1 =
fhs_port_2 =
fhs_name_2 =
ras_name_1 =
ras_name_2 =
fhs_bootstrap_workspace =
ras_bootstrap_workspace =

[admin]
username = 
email = 
description = 
enabled = 

[federation]
name = 
description = 
enabled = 

[service]
owner = 
endpoint = 
type = 
discovery_policy =
access_policy = 